#━━━━━━━━━━━━━━━[ 🌐 ANCORE CONFIG ENV ]━━━━━━━━━━━━━━━#
# 💙 Author: Corex | Project: https://github.com/Corex24/Ancore
# Copy this file to `.env` and fill in values as needed.

#🔐 SESSION & OWNER
SESSION_ID=ANCORE_12345
OWNER_NUMBER=2348036869669
OWNER_NAME=Corex
SUDO=2348036869669,234000000000

#📛 BOT
BOT_NAME=Ancore-MD
STICKER_PACKNAME=💙°CoReX °💙
STICKER_AUTHOR_NAME=Corex
GL_WM=© Ancore

#🗣️ PREFIX & LANGUAGE
PREFIX=.
LANGUAG=en
BOT_LANG=english

#📦 DATABASE
DATABASE_URL=
GITHUB_TOKEN=

#🌐 DEPLOYMENT
HEROKU_APP_NAME=
HEROKU_API_KEY=
RENDER_NAME=
RENDER_API_KEY=
VPS=true

#💬 COMMAND & MESSAGE BEHAVIOR
ALWAYS_ONLINE=true
CMD_REACTION=true
SEND_READ=true
AUTO_STATUS_VIEW=false
AUTO_UPDATE=true
DISABLE_START_MESSAGE=false

#🧠 AI SETTINGS
GPT=free
MODEL=gpt-3.5-turbo
BRAINSHOP=159501,6pq8dPiYt7PdqHz3
GEMINI_API_KEY=
TRUECALLER=

#🔗 MODERATION
WARN_LIMIT=3
ANTI_DELETE=null
ANTI_BOT=off
ANTI_BOT_MESSAGE=&mention removed
ANTILINK_MSG=_Antilink Detected &mention kicked_
ANTISPAM_MSG=_Antispam Detected &mention kicked_
ANTIWORDS_MSG=_AntiWord Detected &mention kicked_
ANTIWORDS=badword1,badword2

#📌 WARN REPLIES
WARN_MESSAGE=⚠️WARNING⚠️\n*User :* &mention\n*Warn :* &warn\n*Remaining :* &remaining
WARN_RESET_MESSAGE=WARN RESET\nUser : &mention\nRemaining : &remaining
WARN_KICK_MESSAGE=&mention kicked

#🛠 MISC
PERSONAL_MESSAGE=null
PLINK=https://github.com/Corex24/Ancore
TIMEZONE=Africa/Lagos
DELETE_TYPE=all
LIST_TYPE=text
MAX_UPLOAD=230
RMBG_KEY=
YT_COOKIE=
BING_COOKIE=
MENTION=
LOG_MSG=true
APPROVE=
DISABLE_BOT=null
WHITE_LIST=
